@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
}

.leaflet-routing-container {
  display: none;
}

div.stars > span {
  transition: color 100ms;
}

div.stars:hover > span {
  color: rgb(255, 230, 0);
}

div.stars > span:hover ~ span {
  color: #cbd5e1;
}
